<div class="pagination">
    <span class="step-links" {% if not page_obj.has_next and not page_obj.has_previous %} style="display: none;" {% endif %}>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"> &lt; Anterior</a>
        {% else %}
        <span class="disabled"> &lt; Anterior</span>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próximo &gt;</a>
        {% else %}
        <span class="disabled">Próximo &gt;</span>
        {% endif %}
    </span>
</div>