<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <!-- Usuarios Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#usuarios-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-circle"></i><span>Usuários</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="usuarios-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin-list' %}">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="{% url 'doctor-list' %}">
            <i class="bi bi-circle"></i><span>Médicos</span>
          </a>
        </li>
        <li>
          <a href="{% url 'receptionist-list' %}">
            <i class="bi bi-circle"></i><span>Recepcionistas</span>
          </a>
        </li>
        <li>
          <a href="{% url 'patient-list' %}">
            <i class="bi bi-circle"></i><span>Pacientes</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user-create' %}">
            <i class="bi bi-circle"></i><span>Cadastro</span>
          </a>
        </li>
      </ul>
    </li><!-- End Usuarios Nav -->

    <!-- Consultas Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#appointments-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar"></i><span>Consultas</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="appointments-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'appointment-list' %}">
            <i class="bi bi-circle"></i><span>Listagem</span>
          </a>
        </li>
        <li>
          <a href="{% url 'appointment-calendar-page' %}">
            <i class="bi bi-circle"></i><span>Calendário</span>
          </a>
        </li>
      </ul>
    </li><!-- End Consultas Nav -->

    <!-- Prontuário Eletrônico Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#medical-records-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-medical"></i><span>Prontuário Eletrônico</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="medical-records-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'medicalrecord-list' %}">
            <i class="bi bi-circle"></i><span>Visualizar</span>
          </a>
        </li>
        <li>
          <a href="{% url 'medicalrecord-create' %}">
            <i class="bi bi-circle"></i><span>Upload de Documentos</span>
          </a>
        </li>
      </ul>
    </li><!-- End Prontuário Eletrônico Nav -->

    <!-- Recursos e Estoque Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-boxes"></i><span>Recursos e Estoque</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'inventory-list' %}">
            <i class="bi bi-circle"></i><span>Controle de Estoque</span>
          </a>
        </li>
      </ul>
    </li><!-- End Recursos e Estoque Nav -->

    <!-- Relatórios e Estatísticas Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Relatórios e Estatísticas</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'report' %}">
            <i class="bi bi-circle"></i><span>Visão Geral</span>
          </a>
        </li>
      </ul>
    </li><!-- End Relatórios e Estatísticas Nav -->

    <!-- Billing Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#billing-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-cash"></i><span>Faturamento</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="billing-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'billing-list' %}">
            <i class="bi bi-circle"></i><span>Listagem</span>
          </a>
        </li>
        <li>
          <a href="{% url 'billing-create' %}">
            <i class="bi bi-circle"></i><span>Criar</span>
          </a>
        </li>
      </ul>
    </li><!-- End Billing Nav -->

    <!-- Payments Section -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#payments-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-credit-card"></i><span>Pagamentos</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="payments-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'payment-list' %}">
            <i class="bi bi-circle"></i><span>Listagem</span>
          </a>
        </li>
        <li>
          <a href="{% url 'payment-create' %}">
            <i class="bi bi-circle"></i><span>Criar</span>
          </a>
        </li>
      </ul>
    </li><!-- End Payments Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

  </ul>
</aside>
